.wrapper  
  = render "layouts/sidebar"

  .mand
    %table
      %tbody
        %tr
          %td.table2
            = @mandara.subskill2_1
          %td.table2
            = @mandara.subskill2_2
          %td.table2
            = @mandara.subskill2_3
          %td.table3
            = @mandara.subskill3_1
          %td.table3
            = @mandara.subskill3_2
          %td.table3
            = @mandara.subskill3_3
          %td.table4
            = @mandara.subskill4_1
          %td.table4
            = @mandara.subskill4_2
          %td.table4
            = @mandara.subskill4_3
        %tr
          %td.table2
            = @mandara.subskill2_4
          %td#submandara1.table1-1
            = @mandara.subtext1
          %td.table2
            = @mandara.subskill2_6
          %td.table3
            = @mandara.subskill3_4
          %td#submandara1.table1-2
            = @mandara.subtext2
          %td.table3
            = @mandara.subskill3_6
          %td.table4
            = @mandara.subskill4_4
          %td#submandara1.table1-3
            = @mandara.subtext3
          %td.table4
            = @mandara.subskill4_6
        %tr
          %td.table2
            = @mandara.subskill2_7
          %td.table2
            = @mandara.subskill2_8
          %td.table2
            = @mandara.subskill2_9
          %td.table3
            = @mandara.subskill3_7
          %td.table3
            = @mandara.subskill3_8
          %td.table3
            = @mandara.subskill3_9
          %td.table4
            = @mandara.subskill4_7
          %td.table4
            = @mandara.subskill4_8
          %td.table4
            = @mandara.subskill4_9

    %table
      %tbody
        %tr
          %td.table5
            = @mandara.subskill5_1
          %td.table5
            = @mandara.subskill5_2
          %td.table5
            = @mandara.subskill5_3
          %td#submandara1.table1-1
            = @mandara.subtext1
          %td#submandara1.table1-2
            = @mandara.subtext2
          %td#submandara1.table1-3
            = @mandara.subtext3
          %td.table6
            = @mandara.subskill6_1
          %td.table6
            = @mandara.subskill6_2
          %td.table6
            = @mandara.subskill6_3
        %tr
          %td.table5
            = @mandara.subskill5_4
          %td#submandara1.table1-4
            = @mandara.subtext4
          %td.table5
            = @mandara.subskill5_6
          %td#submandara1.table1-4
            = @mandara.subtext4
          %td#mandara1.table1-1
            = @mandara.text
          %td#submandara1.table1-6
            = @mandara.subtext6
          %td.table6
            = @mandara.subskill6_4
          %td#submandara1.table1-6
            = @mandara.subtext6
          %td.table6
            = @mandara.subskill6_6
        %tr
          %td.table5
            = @mandara.subskill5_7
          %td.table5
            = @mandara.subskill5_8
          %td.table5
            = @mandara.subskill5_9
          %td#submandara1.table1-7
            = @mandara.subtext7
          %td#submandara1.table1-8
            = @mandara.subtext8
          %td#submandara1.table1-9
            = @mandara.subtext9
          %td.table6
            = @mandara.subskill6_7
          %td.table6
            = @mandara.subskill6_8
          %td.table6
            = @mandara.subskill6_9

    %table
      %tbody
        %tr
          %td.table7
            = @mandara.subskill7_1
          %td.table7
            = @mandara.subskill7_2
          %td.table7
            = @mandara.subskill7_3
          %td.table8
            = @mandara.subskill8_1
          %td.table8
            = @mandara.subskill8_2
          %td.table8
            = @mandara.subskill8_3
          %td.table9
            = @mandara.subskill9_1
          %td.table9
            = @mandara.subskill9_2
          %td.table9
            = @mandara.subskill9_3
        %tr
          %td.table7
            = @mandara.subskill7_4
          %td#submandara1.table1-7
            = @mandara.subtext7
          %td.table7
            = @mandara.subskill7_6
          %td.table8
            = @mandara.subskill8_4
          %td#submandara1.table1-8
            = @mandara.subtext8
          %td.table8
            = @mandara.subskill8_6
          %td.table9
            = @mandara.subskill9_4
          %td#submandara1.table1-9
            = @mandara.subtext9
          %td.table9
            = @mandara.subskill9_6
        %tr
          %td.table7
            = @mandara.subskill7_7
          %td.table7
            = @mandara.subskill7_8
          %td.table7
            = @mandara.subskill7_9
          %td.table8
            = @mandara.subskill8_7
          %td.table8
            = @mandara.subskill8_8
          %td.table8
            = @mandara.subskill8_9
          %td.table9
            = @mandara.subskill9_7
          %td.table9
            = @mandara.subskill9_8
          %td.table9
            = @mandara.subskill9_9
