.wrapper  
  = render "layouts/sidebar"

  .contents
    .content
      .week
        .week_num
          = "#{@week.week}wの目標"
        .week_text
          = @week.text
        .week_Feedback
          = @week.Feedback
        .week_checkbox
          = check_box :week, :checkbox, {class: 'check_box'}, true, false

      .report
        - @posts.each do |post|
          .repo
            = link_to "日付", todo_path(post), class: 'repo'
            %br
            = link_to "#{post.updated_at.strftime("%m月%d日")}", todo_path(post), class: 'repo'
            %br
            = link_to "TITLE", todo_path(post), class: 'repo'
            = link_to "#{post.text}", todo_path(post), class: 'repo'
            %br