.wrapper  
  = render "layouts/sidebar"

  .contents
    .content
      .week
        .week_num
          = "#{@week.week}wの目標"
        .week_text
          = @week.text
        .week_Feedback
          = @week.Feedback
        .week_checkbox
          = check_box :week, :checkbox, {class: 'check_box'}, true, false