.wrapper  
  = render "layouts/sidebar"

  .contents
    .content
      .form
        = form_for [@month] do |f|
          .input-box
            = f.text_field :year, class: 'input-text', placeholder: "何月？"
            = f.text_field :month, class: 'input-text', placeholder: "何月？"
            = f.text_area :text, class: 'input-text',rows: "3", wrap: "hard", placeholder: "今月の目標"
            = f.text_field :target, class: 'input-text', placeholder: "何週間でやる？"
            = f.text_area :goal, class: 'input-text',rows: "3", wrap: "hard", placeholder: " 目標 / 結果 "
            = f.check_box :checkbox, class: 'input-text'        
          = f.submit "報告する", class: 'submit-btn'