.wrapper
  = render "layouts/sidebar"
  
  .contents
    .year
      .year-today
        = current_user.showyear_last_year
        年目標
        .year-title
          = current_user.show_last_year
    .month
      .month-today
        = current_user.showmonth_last_month
        月目標
        .month-title
          = current_user.show_last_month
    .week
      .week-today
        = current_user.showweek_last_week
        週目標
        .week-title
          = current_user.show_last_week
    .day
      .post-today
        = current_user.showpost_last_post
        振り返り
        .post-title
          = current_user.show_last_post
        
 
        .todo
          = link_to new_post_path do
            TODO
        .memo
          MEMO
          = current_user.show_last_memo

  