.wrapper
  = render "layouts/sidebar"
  .contents
    .year
      .year-today
        = link_to "#{current_user.showyear_last_year}" , years_path, class: 'yearTitle'
      .year-title
        = current_user.show_last_year
    .month
      .month-today
        = link_to "#{current_user.showmonth_last_month}" , months_path, class: 'monthTitle'
      .month-title
        = current_user.show_last_month
    .week
      .week-today
        = link_to "#{current_user.showweek_last_week}" , weeks_path, class: 'weekTitle'
      .week-title
        = current_user.show_last_week
    .day
      .post-today
        = link_to "#{current_user.showpost_last_post}" , todos_path, class: 'dayTitle'
      .post-title
        TITLE
        %dr
        = current_user.show_last_post
    .todot
      .todot-today
        = link_to "#{current_user.showtodo_last_todo}" , todos_path, class: 'dayTodo'
      .todot-title
        TITLE
        %br
        = current_user.show_last_todo
  
    .manual#heven
      %button#modal-up
        天の声

.box-wrapper#modal-gif
  %ul.bxslider
    %li
      %img{:alt => "", :height => "300", :src => "assets/image003.jpg", :width => "640"}/
    %li
      %img{:alt => "", :height => "300", :src => "assets/image002.jpg", :width => "640"}/
    %li
      %img{:alt => "", :height => "300", :src => "assets/image001.jpg", :width => "640"}/
    %li
      %img{:alt => "", :height => "300", :src => "assets/image008.jpg", :width => "640"}/
