.wrapper  
  = render "layouts/sidebar" 

  .report
    .todo
      .right-box
        = form_for [@todo] do |f|
          .input-box
            .right-box__day
              今日もっともやるべき１つ
              %br 
              = @todo.todo1
              = f.check_box :checkbox1, class: 'input-text'
            .report_Feedback
              今日やるべき大きなこと３つ
              %br
              = @todo.todo3
              = f.check_box :checkbox3, class: 'input-text'
            .report_business
              今日やるべきこと５つ
              %br
              = @todo.todo5
              = f.check_box :checkbox5, class: 'input-text'        
            = f.submit "報告する", class: 'submit-btn'


    -# .form
    -#   = form_for [@todo,@post] do |f|
    -#     .input-box
    -#       = f.text_area :text, class: 'input-text',rows: "5", wrap: "soft", placeholder: "今日の積み上げ"
    -#       = f.text_area :Feedback, class: 'input-text',rows: "5", wrap: "soft", placeholder: "振り返り"
    -#       = f.text_area :business, class: 'input-text',rows: "5", wrap: "soft", placeholder: "ビジネスに活かせそうなこと"
    -#       = f.text_area :tomorrow, class: 'input-text',rows: "5", wrap: "soft", placeholder: "反省、明日に活かすこと"
    -#     = f.submit "報告する", class: 'submit-btn'
