.wrapper  
  = render "layouts/sidebar"

  .contents-t
    .reports-t
      .report-t
        - @todos.each do |todo|
          .repo
            .rep
              = link_to "#{todo.updated_at.strftime("%m月%d日")}", todo_path(todo.id), class: 'repo-d'
              = link_to "今日もっともやるべき１つ", todo_path(todo.id), class: 'repo-d2'
              = link_to "#{todo.todo1}", todo_path(todo.id), class: 'repo-d'

