.wrapper  
  = render "layouts/sidebar"

  .contents
    .reports
      .report
        - @posts.each do |todo|
          .repo
            = link_to "日付", todo_path(todo.id), class: 'repo'
            %br
            = link_to "#{todo.updated_at.strftime("%m月%d日")}", todo_path(todo.id), class: 'repo'
            %br
            = link_to "今日もっともやるべき１つ", todo_path(todo.id), class: 'repo'
            -# = link_to "#{todo.todo1}", todo_path(todo.id), class: 'repo'
            %br 
        - @posts.each do |post|
          .repo
            = link_to "日付", root_path, class: 'repo'
            %br
            = link_to "#{post.updated_at.strftime("%m月%d日")}", root_path, class: 'repo'
            %br
            = link_to "TITLE", root_path, class: 'repo'
            = link_to "#{post.text}", root_path, class: 'repo'
            %br

       
