.wrapper  
  = render "layouts/sidebar"

  .contents
    .content
      = link_to "目標を立てる", new_year_path, class: 'y'
    .content
      = link_to "マンダラシート作成", new_mandara_path, class: 'y'
    .year-y
      - @years.each do |year|
        .year-y-box
          .year-y-box_num
            = link_to "#{year.year}年", edit_year_path(year), class: 'year-y'
            .year-y-box_title
              = year.title