.wrapper  
  = render "layouts/sidebar"

  .contents
    .content
      .year
        .year_num
          = link_to "#{@year.year}年の目標", edit_year_path(@year), class: 'years'
        %br
        .year_title
          目標
          %br
          = @year.title
        %br
        .year_kgi
          KGI
          %br
          = @year.kgi
        %br
        .year_kpi
          KPI
          %br
          = @year.kpi
        %br
        .year_kdi
          KDI
          %br
          = @year.kdi

      .report
        - @months.each do |month|
          .repo
            = link_to "月", month_path(@month), class: 'repo'
            %br
            = link_to "#{month.month}", month_path(@month), class: 'repo'
            %br
            = link_to "TITLE", month_path(@month), class: 'repo'
            = link_to "#{month.text}", month_path(@month), class: 'repo'
            %br
            = link_to "FEEDBACK", month_path(@month), class: 'repo'
            = link_to "#{month.Feedback}", month_path(@month), class: 'repo'