.wrapper  
  = render "layouts/sidebar"

  .contents
    .content
      = link_to "memo", new_memo_path, class: 'memo'
      .memo
        - @memos.each do |memo|
          .memo-box
            .memo-box_num
              = link_to "#{memo.title}", memo_path(memo), class: 'memos'
              .memo-box_text
                = link_to "#{memo.text}", memo_path(memo), class: 'memos'
                = memo.updated_at.strftime("%m月%d日")