.mand
  %table
    %tbody
      %tr
        %td.table2
        %td.table2
        %td.table2
        %td.table3
        %td.table3
        %td.table3
        %td.table4
        %td.table4
        %td.table4
      %tr
        %td.table2
        %td#submandara1.table1-1
          = @mandara.subtext1
        %td.table2
        %td.table3
        %td#submandara1.table1-2
          = @mandara.subtext2
        %td.table3
        %td.table4
        %td#submandara1.table1-3
          = @mandara.subtext3
        %td.table4
      %tr
        %td.table2
        %td.table2
        %td.table2
        %td.table3
        %td.table3
        %td.table3
        %td.table4
        %td.table4
        %td.table4

  %table
    %tbody
      %tr
        %td.table5
        %td.table5
        %td.table5
        %td#submandara1.table1-1
          = @mandara.subtext1
        %td#submandara1.table1-2
          = @mandara.subtext2
        %td#submandara1.table1-3
          = @mandara.subtext3
        %td.table6
        %td.table6
        %td.table6
      %tr
        %td.table5
        %td#submandara1.table1-4
          = @mandara.subtext4
        %td.table5
        %td#submandara1.table1-4
          = @mandara.subtext4
        %td#mandara1.table1-1
          = @mandara.text
        %td#submandara1.table1-6
          = @mandara.subtext6
        %td.table6
        %td#submandara1.table1-6
          = @mandara.subtext6
        %td.table6
      %tr
        %td.table5
        %td.table5
        %td.table5
        %td#submandara1.table1-7
          = @mandara.subtext7
        %td#submandara1.table1-8
          = @mandara.subtext8
        %td#submandara1.table1-9
          = @mandara.subtext9
        %td.table6
        %td.table6
        %td.table6

  %table
    %tbody
      %tr
        %td.table7
        %td.table7
        %td.table7
        %td.table8
        %td.table8
        %td.table8
        %td.table9
        %td.table9
        %td.table9
      %tr
        %td.table7
        %td#submandara1.table1-7
          = @mandara.subtext7
        %td.table7
        %td.table8
        %td#submandara1.table1-8
          = @mandara.subtext8
        %td.table8
        %td.table9
        %td#submandara1.table1-9
          = @mandara.subtext9
        %td.table9
      %tr
        %td.table7
        %td.table7
        %td.table7
        %td.table8
        %td.table8
        %td.table8
        %td.table9
        %td.table9
        %td.table9
