.sidebar
  .sidebar-menu
    .sidebar-box
      .sidebar-box__name 
        = link_to "year", years_path, class: 'year'
    .sidebar-box
      .sidebar-box__name
        = link_to "month", months_path, class: 'month'
    .sidebar-box
      .sidebar-box__name
        = link_to "week", weeks_path, class: 'week'
    .sidebar-box
      .sidebar-box__name
        = link_to "day", todos_path(), class: 'day'
    .sidebar-box
      .sidebar-box__name
        = link_to "memo", memos_path, class: 'memo'